{% extends 'comments/base.html' %}

{% block title %}
Cart user.username
{% endblock title %}

{% block content %}
    <h1>Ваша корзина</h1>
    {% if cart_items %}
        {% for items in cart_items %}
            <div class="container p-3 m-4 border border-dark">
                <img src="{{ items.products.image.url }}" alt="{{ items.product.name }}" style="max-width: 50px; max-height: 50px;">
                <h2>{{ items.products.name }}, количество: {{ items.quantity }}, цена: {{ items.products.price }} руб.</h2>
            </div>
        {% endfor %}
        <h2>Полная цена:{{ total_price }} руб.</h2>
    {% else %}

        <p>Ваша корзина пуста.</p>
    {% endif %}

    

{% endblock content %}

